<ul class="<%= class_name %>">
  <% for (var i in theme.menu_secondary){ %>
    <% 
      var clsName = "";
      if (i === "Try Drycc Cloud") {
        clsName = "btn btn-sm btn-primary btn-inline text-white";
      } else {
        clsName = "nav-item-link"
      }
    %>
  <li class="nav-item">
    <a class="<%= clsName %>" href="<%- url_for(theme.menu_secondary[i]) %>"><%= i %></a>
  </li>
  <% } %>
</ul>